{%extends 'main/index.html'%}
{% load static %}
{%block body_block%}
    <section class="container-fluid p-0 mb-5">
        <div class="banner11">
            <h2><span style=" font-size: 40px;">Testimonials – Real Stories, Real Results</span></h2>
        </div>
    </section>
    <section class="tsection2 container mb-5">
        <p>We believe that <span style="color: rgb(43,118,43);font-size: 25px;">knowledge</span> is the first step toward good health. Explore our wellness blog to learn about nutrition, fitness, mental health, and natural living.</p>
        <p>Stay connected with us for weekly wellness insights and expert advice to keep your health balanced — <span style="color: rgb(43,118,43);font-size: 25px;">naturally</span>naturally.</p>
    </section>
    <section class="tsection1 container mb-5">
        <h1 class="text-center mt-5 mb-5"><span style="color: rgb(43,118,43); font-size: 40px; font-size: 600;">See What Our Customers Say</span></h1>
        <div class="carousel slide" data-bs-ride="carousel" id="history">
            <div class="carousel-inner">
                <div class="carousel-item active text-center ">
                    <img src="{% static 'assets/c1.jpg' %}" alt="">
                    <p class="mt-5 ">“After using Nutrabalance for just a few weeks, my energy levels skyrocketed! I no longer feel tired after work.”</p>
                    <h6 class=" ">"Ravi Kumar"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
                <div class="carousel-item text-center ">
                    <img src="{% static 'assets/c2.jpg' %}"  alt="">
                    <p class="mt-5 ">“It tastes amazing and blends easily in milk. My skin also looks much better now.”</p>
                    <h6 class=" ">"Priya Sharma"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
                <div class="carousel-item text-center ">
                    <img src="{% static 'assets/c3.jpg' %}" alt="">
                    <p class="mt-5 ">“As a fitness trainer, I’ve tried many supplements. Nutrabalance is natural, light on the stomach, and gives consistent energy.”</p>
                    <h6 class=" ">"Anil Verma"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
                <div class="carousel-item text-center ">
                    <img src="{% static 'assets/c4.jpg' %}"  alt="">
                    <p class="mt-5 ">“I started Nutrabalance on my daughter’s advice. Now I feel stronger and more active than ever before.”</p>
                    <h6 class=" ">"Sits Devi"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
                <div class="carousel-item text-center ">
                    <img src="{% static 'assets/c5.jpg' %}"  alt="">
                    <p class="mt-5 ">“The perfect balance of herbs and nutrients. It’s part of my morning routine now.”</p>
                    <h6 class=" ">"Rhual jhan"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
                <div class="carousel-item text-center ">
                    <img src="{% static 'assets/c6.jpg' %}"  alt="">
                    <p class="mt-5 ">“As someone who works out regularly, I’ve tried many supplements. Nutrabalance is different — it’snatural, and gives me clean energy without side effects.!”</p>
                    <h6 class=" ">"Manish Agarwal"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
                <div class="carousel-item text-center ">
                    <img src="{% static 'assets/c7.jpg' %}"  alt="">
                    <p class="mt-5 ">“Work stress and irregular meals were taking a toll on my health. Since I started Nutrabalance, I feel more focused, active, and balanced throughout the day.”</p>
                    <h6 class=" ">"Arjun Mehta"</h6>
                    <p class=" mb-5">Regular Customer</p>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-target="#history" data-bs-slide="prev"><span
                    class="carousel-control-prev-icon"></span></button>
            <button class="carousel-control-next" data-bs-target="#history" data-bs-slide="next"><span
                    class="carousel-control-next-icon"></span></button>
        </div>
    </section>
    <footer class=" text-light pt-5 pb-4">
        <div class="container">
            <div class="row">

                <!-- Company Info -->
                <div class="col-md-4 col-lg-4 col-sm-12 mb-4">
                    <h5 class="text-uppercase fw-bold mb-3">NUTRABALANCE</h5>
                    <p>
                    Experience the power of scientifically-formulated supplements made with the finest 
                    natural ingredients. Our commitment to excellence ensures that every product delivers 
                    exceptional results, pure quality, and the nutrition your body deserves.
                    </p>
                </div>

                <!-- Quick Links -->
                <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
                    <h6 class="text-uppercase fw-bold mb-3">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li><a href="/index" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> Home</a></li>
                        <li><a href="/about" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> About </a></li>
                        <li><a href="/products" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> Products</a></li>
                        <li><a href="/benifits" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> Inside Nutrabalance</a></li>
                        <li><a href="/ereview" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> Reviews</a></li>
                        <li><a href="/blog" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> Blog</a></li>
                        <li><a href="/contact" class="text-light text-decoration-none"><i class="bi bi-chevron-right"></i> Contact Us</a></li>
                    </ul>
                </div>

                <!-- Contact -->
                <div class="col-md-4 col-lg-5 col-sm-6 mb-4">
                    <h6 class="text-uppercase fw-bold mb-3">Contact</h6>
                    <p><i class="bi bi-geo-alt-fill me-2"></i>NutraBalance India Pvt. Ltd., Gurgaon, Haryana</p>
                    <p><i class="bi bi-telephone-fill me-2"></i>+91 1800 102 2269</p>
                    <p><i class="bi bi-envelope-fill me-2"></i>contact.india@nutrabalance.in</p>
                </div>

            </div>

            <!-- Copyright -->
            <div class="text-center border-top border-secondary pt-3 container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class=" small">
                            © 2025 NutraBalance India | Designed by <strong>Uma</strong> | Built with Bootstrap 5
                        </p>
                    </div>
                
                <!-- Social Icons -->
                    <div class="col-lg-6">
                        <div class="">
                            <a href="#" class="text-light me-3"><i class="bi bi-facebook  "></i></a>
                            <a href="#" class="text-light me-3"><i class="bi bi-instagram  "></i></a>
                            <a href="#" class="text-light me-3"><i class="bi bi-twitter "></i></a>
                            <a href="#" class="text-light"><i class="bi bi-youtube "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#"><button class="upper btn btn-success"><b><i class="bi bi-arrow-up"></i></b></button></a>
{%endblock%}